<div style="margin: 1.5rem;">

  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img [src]="dog.url" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="columns" style="margin-bottom: 0;">
        <div class="column" style="padding-bottom: 0">
          <span class="is-size-6 has-text-weight-bold">{{likes}} Me gusta</span>
        </div>
      </div>

      <div *ngIf="dog.comments.length != 0; else elseTemplate">
        <p class="is-size-6" *ngFor="let comment of dog.comments">
          Comentario: {{comment}}
        </p>  
      </div>
      
      <ng-template #elseTemplate>
        <span class="is-size-6">
          Sin comentarios
        </span>
      </ng-template>

    </div>

    <app-action-bar [dog]="dog"></app-action-bar>
  </div>
</div>