<div style="margin: 1.5rem;">

  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img [src]="image_url" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      Cras lacinia dolor quis magna dapibus iaculis. Ut id iaculis mauris. Sed luctus est mi, a posuere lectus aliquet
      eu. Mauris aliquam felis purus, vel tincidunt augue efficitur id.<br />

      Likes: {{likes}}
    </div>

    <app-action-bar></app-action-bar>
  </div>
</div>