<div style="margin: 1.5rem;">

  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img [src]="image_url" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="columns" style="margin-bottom: 0;">
        <div class="column" style="padding-bottom: 0">
          <span class="is-size-6 has-text-weight-bold">{{likes}} Me gusta</span>
        </div>
      </div>

      <span class="is-size-6">
        Cras lacinia dolor quis magna dapibus iaculis. Ut id iaculis mauris. Sed luctus est mi, a posuere lectus aliquet
        eu. Mauris aliquam felis purus, vel tincidunt augue efficitur id.
      </span>


    </div>

    <app-action-bar></app-action-bar>
  </div>
</div>