<div style="margin: 1.5rem;">

  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img [src]="image_url" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <br />

      Likes: {{likes}}
    </div>

    <div class="card-footer">
      <div class="card-footer-item">
        <button class="button is-fullwidth">
          Like
        </button>
      </div>
      <div class="card-footer-item">
        <button class="button is-fullwidth" disabled>
          Comentar
        </button>
      </div>
      <div class="card-footer-item">
        <button class="button is-fullwidth" disabled>
          Compartir
        </button>
      </div>
    </div>
  </div>
</div>